*.class
*.csv*
*.iml
*.log
*.log.*
*.rej
.DS_Store
.bloop
.bloop/
.bsp
.cache
.cache*
.classpath
.devcontainer/.env
.ensime
.ensime_cache
.env
.history
.idea
.idea/
.lib/
.metadata 
.metals
.metals/
.project
.scala_dependencies
.scannerwork
.settings/
.worksheet
_book
attach_pid*
dist/*
docs/*
lib_managed/
node_modules
out/
project/boot/
project/metals.sbt
project/plugins/project/
project/project/metals.sbt
project/project/project/metals.sbt
src/main/resources/application.conf
src_managed/
target/